

.bar{
    display: flex;
}
.navbarr{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 73%;
   

}
.my-nav{
    width: 250px;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    
}
.my-nav select{
    width: 85%;
    height: 43px;
    border: none;
    outline: none;
 border-radius: 5px;
  
}
.far{
    width: 30px;
    text-align: center;
   
}
.input{
    width: 400px;
    height: 43px;
    background-color: rgb(5, 41, 5);
    border-radius: 5px;
    
    
}
.input input{
    width: 88%;
    height: 44px;
    border: none;
    outline: none;
    border-radius:5px 0 0 5px ;
    padding: 5px 10px;
}
.fas{ 
    width: 30px;
    text-align: center;
    
    color: white;
    
}
.brand img{
    height: 60px;
}
.input:hover{
    border: 1px solid rgb(14, 235, 235);
}
.my-nav:hover{
    border: 1px solid rgb(14, 235, 235);
}
.bar{
    width:  80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 65px;
  
    justify-content: space-around;
 
    
}
#bn{
border: none;
border-bottom: 3px solid rgb(5, 41, 5);
color: rgb(5, 41, 5);
font-weight: bold;

}
#bn:hover{
    border: none;
}
.im-bn{
    background-image: url(images/iconSellBorder_noinline.d9eebe038fbfae9f90fd61d971037e02.svg);

height: 43px;

clear: both;
background-size: cover;
background-repeat: no-repeat;
}

.mn{
 margin: 8px 15px;
 font-weight: bold;
}
.im-bn{
    width: 90px;
    
}

.button{
    width: 60px;
    background-color:rgb(240, 240, 240);
}
.nav1{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:rgb(240, 240, 240);
}
.vb{
    display: flex;
    justify-content: space-between;
    
    width: 180px;
}
.link ul li{
 display: inline-block;
 margin: 7px 10px;
}
.link{
    width: 1100px;
    
    
}
.nav-link{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.far{
    font-size: larger;
}
.top img{
    width: 100%;
    height: 270px;
}
.top{
    width: 100%;
    
}
.img2{
    width: 700px;
}
.img2 img{
    width: 100%;
}
.img2{
    width: 100%;
display: flex;
justify-content: center;
margin: 20px 0;
}
.card1{
    width: 300px;
    height: 300px;
    border: 1px solid lightgray;
    margin: 10px auto;
    border-radius: 5px;
}
.imG{
    width: 240px;
      height: 150px;
      margin: 7px auto;
}
.imG img{
    width: 100%;
    height: 150px;
}
.txts{
    width: 290px;
    
    height: 110px;
    margin: 0 2px;
    margin-top: 30px;
    border-left: 5px solid rgb(248, 220, 61);
}
.pric{
    margin-left: 7px;
    font-weight: bolder;
    font-size: large;
}
.aboutt{
    margin-top: -15px;
    margin-bottom: 9px;
    margin-left: 7px;
}
#sp{
 margin-left: 120px;  
}
#sml{
    margin-left: 7px;

}
#f-ic{
    float: right;
    
}
.card-sec{
 
    width: 100%;
}
.kj{
    width: 100%;
    ;
    
}
#fr{
    font-size: 30px;
    font-weight: normal;
    margin: 10px 10px;
}
.bn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bm button{
    width: 110px;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
}
#bkm:hover{
    border: 5px solid black;
}
.img4{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.img5{
    width: 70%;
}
.img5 img{
    width: 100%;
}
.imh6{
    width: 380px;
    height: 170px;
}
.imh6 img{
    width: 100%;
    height: 168px;
}
.tetx2{
    
    height: 170px;
    width: 380px;
}
.app{
    border-left: 3px solid gray;
    width: 380px;
    height: 130px;
    margin-top: 30px;

}
.app img{
    width: 45%;
}
.last-sec{
    width: 100%;
}
.app p{
    margin: 20px 30px;
    font-weight: bold;
}
.tetx2 p, h2{
    margin: 20px 20px;
    font-weight: bold;
}
.di{
    width: 220px;
    font-size: small;
    color: gray;
}
#mjj img{
width: 25%;
}
#mkk img{
    width: 10%;
}
.main-footer{
    margin: 20px 0;
    
    width: 90%;
    
}
.lk{
    font-weight:bold ;
    color: black;
    margin-bottom: 10px;
    
}
.footer{
    background-color: #EBEEEF;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px ;

}
.di li{
    list-style-type: none;
    margin-top: 5px;
}
.di p{
    margin-left: 40px;
}
.end{

background-color: black;
width: 100%;
display: flex;
justify-content: flex-end;

}
#gjj{
    color: white;

    

}
.Emd{
width: 40%;

    

}


































@media only screen and (max-width:768px){
    .navbarr{
        width: 90%;
        margin-top: 5px;
    }
    .input {
        width: 100%;
        margin-top: 5px;
    }
.my-nav {
width: 90%;
}
.vb{
    margin-top: 5px;
}
.nav-link{
    margin-top: 160px;
}
}

@media only screen and (max-width:576px){
    .navbarr{
        width: 100%;
        margin-top: 5px;
    }
    .input {
        width: 100%;
        margin: 5px 0;
    }

.my-nav {
width: 100%;
margin: 0 5px;
}
.vb{
    margin-top: 5px;
}
}